<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Express Basic Site </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="/home">Home Page </a></li>
            <li><a href="/about">About </a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery </a></li>
        </ul>
   
    </nav>
    <h1> About Edgar Allan Poe</h1>
    <p>
        Edgar Allan Poe (né Edgar Poe; January 19, 1809 - October 7, 1849) 
        was an American writer, poet, editor, and literary critic who is best known 
        for his poetry and short stories, particularly his tales of mystery and the macabre.
         He is widely regarded as a central figure of Romanticism in the United States, and of American 
         literature. He was one of the country's earliest practitioners of the short story, and is considered 
         the inventor of the detective fiction genre, as well as a significant contributor to the emerging genre 
         of science fiction. He is the first well-known American writer to earn a living through writing alone,
          resulting in a financially difficult life and career.
    </p>
</header>
</body>
</html>