<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab Express Basic Site</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/home">Home Page </a></li>
          <li><a href="/about">About </a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/gallery">Gallery </a></li>
        </ul>
      </nav>
      <h1>Works</h1>

      <h3>Short stories</h3>
      <ul class="list">
        <li>"The Black Cat"</li>
        <li>"The Cask of Amontillado"</li>
        <li>"A Descent into the Maelström"</li>
        <li>"The Facts in the Case of M. Valdemar"</li>
        <li>"The Fall of the House of Usher"</li>
        <li>"The Gold-Bug"</li>
        <li>"Hop-Frog"</li>
        <li>"The Imp of the Perverse"</li>
        <li>"Ligeia"</li>
        <li>"The Masque of the Red Death"</li>
      </ul>
    </header>
  </body>
</html>
